@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


$white: #ffffff;
$black: #000000;
$background: #ffffff;
$colour1: #3e61a3;
$colour2: #48d15a;
$accent1: #fffb00;

body {
    background: $background;
    color: $black;
    font-family: 'Nunito', sans-serif;
}
main {
    margin: 20px;
}
.main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    list-style: none;
}
h1,
h2 {
    font-weight: bold;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 180%;
}
p {
    font-size: 16px;
    color: $black;
}
input {
    max-width: 100%;
}
.jumbotron {
    background: $colour1;
    color: $white;
    text-align: center;
    p {
        color: $white;
        font-size: 26px;
    }
}
.link {
    color: $black;
}
.btn-primary {
    color: $white;
    border-color: $white;
    margin-bottom: 5px;
}
.btn-sm {
    background-color: $white;
    display: inline-block;
}
img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}
caption {
    
    float: left;
    clear: both;
    
}
.nav-item {
    color: $white;
}
.navbar {
    color: $white;
    margin-bottom: 0;
    background: $colour1;
}
.btn {
    max-width: 100%;
}
.card {
    margin: 10px;
    padding: 10px;
    max-width: 100%;
}
.card-center {
    text-align: center;
}
.card-user-profile {
    width: 500px;
    max-width: 90%;
    text-align: center;
}
.card-user-profile-child {
    text-align: left;
}
.button-bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.gig-info, .gig-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.gigs-index-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20% 0 20%;
}
.card-negotiation {
    text-align: left;
}
.gig-index-card {
    width: 400px;
    height: 170px;
    display: flex;
    justify-content: space-between;
}
.content-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20% 0 20%;
}
.center-container {
    text-align: center;
}
.limit-width {
    max-width: 600px;
}
.div-search {
    text-align: center;
}
.btn {
    white-space: nowrap;
}

@media screen and (max-width: 1500px) {
    h1, h2 {
        text-align: center;
    }
    .gigs-index-container {
        padding: 0 5% 0 5%;
    }
    .content-container {
        padding: 0 5% 0 5%;
    }
    
}

@media screen and (max-width: 600px) {
    h1, h2 {
        text-align: center;
    }
    .gigs-index-container {
        padding: 0;
    }
    .content-container {
        padding: 0;
    }
    .gig-index-card {
        height: fit-content;
    }
    
}