<h1>Gig booking - pay deposit</h1>
<div class="card">
  <p>You are paying a 20% deposit to book the band <strong><%= @negotiation.band.name %></strong> to play your gig <strong><%= @negotiation.gig.title %></strong></p>
</div>
