<main role="main" class="content-container text-center">
  <h1>Booking request</h1>
  <div class="card card-negotiation">
    <h2><%= @negotiation.gig.title %></h2>
    <% if @negotiation.gig.user.id == current_user.id %>
      <%= render :partial => 'negotiation_gig', locals: { post: @post } %>
    <% elsif @negotiation.band.user.id == current_user.id %>
      <%= render :partial => 'negotiation_band', locals: { post: @post } %>
    <% else%>
      <p>You don't have permission to see this booking.</p>
    <% end%>
  </div>
</main>
